# Database
DATABASE_URL="file:./dev.db"

# JWT Secret (generate a random string for production)
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# For production deployment
# DATABASE_URL="postgresql://user:password@host:port/database"

# You can call me on Github "eneryu" or by my phone: 01014023583 (egypt), if u needed help! :)
